#define IDD_DLG1 100
#define IDC_BTN1 101
#define IDC_BTN2 102
#define IDC_IMG1 103

10 ICON DISCARDABLE "icon.ico"

IDD_DLG1 DIALOGEX 10,10,186,86
CAPTION "Blank Dialog"
FONT 10,"Segoe UI Semibold",600,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER
BEGIN
  CONTROL "OK",IDC_BTN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|0x00000080,136,52,41,12
  CONTROL "Cancel",IDC_BTN2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|0x00000080,136,66,41,12
  CONTROL "",IDC_IMG1,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_ICON,32,12,76,66
END

