#define IDD_DLG1 100
#define IDC_BTN1 101
#define IDC_CBO1 103
#define IDC_BTN2 102
#define IDC_STC1 104

10 ICON DISCARDABLE "icon.ico"

IDD_DLG1 DIALOGEX 10,10,202,114
CAPTION "IDD_DLG"
FONT 10,"Segoe UI",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER
BEGIN
  CONTROL "Display",IDC_BTN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,124,9,62,13
  CONTROL "",IDC_CBO1,"ComboBox",WS_CHILDWINDOW|WS_VISIBLE|WS_BORDER|WS_VSCROLL|WS_TABSTOP|CBS_NOINTEGRALHEIGHT|CBS_AUTOHSCROLL|CBS_DROPDOWNLIST,14,10,100,96
  CONTROL "Close",IDC_BTN2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,124,24,62,13
  CONTROL "Select Combo Item Then Click Display",IDC_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_CENTER,10,96,180,10
END

