#define JPG_STC1 607
#define JPG_STC2 608
#define ABTDLG1 1500
#define IDC_IMG1 1501
#define IDC_STC1 1502
#define IDC_STC2 1503
#define IDC_STC3 1504
#define IDC_STC4 1505
#define IDC_STC5 1506
#define IDC_STC6 1507
#define IDC_BTN1 2
#define JPG_DLG1 600
#define JPG_BTN1 603
#define JPG_BTN2 604
#define JPG_IMG1 605
#define JPG_EDT1 606
#define SCD_DLG1 1100
#define SCD_STC1 101
#define SCD_STC2 102
#define SCD_STC3 103
#define SCD_STC4 104
#define SCD_STC6 110
#define SCD_EDT2 111
#define SCD_STC7 112
#define SCD_EDT3 113
#define SCD_IMG1 114
#define SCD_BTN1 1
#define SCD_BTN2 2

ABTDLG1 DIALOGEX 10,10,244,104
CAPTION "About JPG Image Tool"
FONT 10,"Segoe UI Semibold",600,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER
BEGIN
  CONTROL "",IDC_IMG1,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_ICON,10,2,38,30
  CONTROL "JPG Image Tool",IDC_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE,52,8,186,12
  CONTROL "Copyright © Steve Hutchesson 2022 - All Rights Reserved",IDC_STC2,"Static",WS_CHILDWINDOW|WS_VISIBLE,52,22,186,10
  CONTROL "Licenced freeware that cannot be bought, sold or bundled",IDC_STC3,"Static",WS_CHILDWINDOW|WS_VISIBLE,52,30,186,10
  CONTROL "Convert JPG BMP TIF PNG and GIF images to JPG with the",IDC_STC4,"Static",WS_CHILDWINDOW|WS_VISIBLE,52,44,186,10
  CONTROL "option of capture, resize and changing JPG image quality",IDC_STC5,"Static",WS_CHILDWINDOW|WS_VISIBLE,52,52,186,10
  CONTROL "Wickedly crafted in 64 bit Microsoft Assembler  <MASM>",IDC_STC6,"Static",WS_CHILDWINDOW|WS_VISIBLE,52,66,186,10
  CONTROL "IDC_BTN",IDC_BTN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,188,126,42,10
END

JPG_DLG1 DIALOGEX 10,10,136,52
CAPTION " JPG Quality Settings"
FONT 11,"Segoe UI Semibold",600,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER
BEGIN
  CONTROL "OK",JPG_BTN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,54,32,34,10
  CONTROL "Cancel",JPG_BTN2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,90,32,34,10
  CONTROL "",JPG_IMG1,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_ICON,6,6,40,36
  CONTROL "100",JPG_EDT1,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_MULTILINE|ES_CENTER,104,18,20,10,WS_EX_CLIENTEDGE
  CONTROL "Quality Setting ",IDC_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_RIGHT,46,18,56,10
  CONTROL "Quality Range 0 to 100",IDC_STC2,"Static",WS_CHILDWINDOW|WS_VISIBLE,56,8,70,8
END

SCD_DLG1 DIALOGEX 10,10,186,90
CAPTION " Scale Image By Size"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER
BEGIN
  CONTROL "Original Size ",SCD_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_RIGHT,74,10,44,12
  CONTROL "-",SCD_STC2,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_CENTER,118,12,22,10
  CONTROL "x",SCD_STC3,"Static",WS_CHILDWINDOW|WS_VISIBLE,140,12,8,10
  CONTROL "-",SCD_STC4,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_CENTER,148,12,22,10
  CONTROL "By Width ",SCD_STC6,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_RIGHT,86,28,40,12
  CONTROL "-",SCD_EDT2,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_CENTER,130,28,36,11,WS_EX_CLIENTEDGE
  CONTROL "By Height ",SCD_STC7,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_RIGHT,84,44,42,12
  CONTROL "-",SCD_EDT3,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_CENTER,130,44,36,11,WS_EX_CLIENTEDGE
  CONTROL "",SCD_IMG1,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_ICON,10,10,62,50
  CONTROL "OK",SCD_BTN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,76,62,42,14
  CONTROL "Cancel",SCD_BTN2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,124,62,42,14
END

