#define IDD_DLG1 100
#define IDC_BTN1 101
#define IDC_IMG1 102
#define IDC_STC1 103
#define IDC_STC2 104
#define IDC_STC3 105
#define IDC_EDT1 106
#define IDC_EDT2 107
#define IDC_EDT3 108

10 ICON DISCARDABLE "icon.ico"

IDD_DLG1 DIALOGEX 10,10,250,64
CAPTION "IDD_DLG"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER
BEGIN
  CONTROL "OK",IDC_BTN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,184,40,50,12
  CONTROL "",IDC_IMG1,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_ICON,192,4,36,32
  CONTROL "Integers Only",IDC_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_RIGHT,0,10,56,10
  CONTROL "Floating Point",IDC_STC2,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_RIGHT,0,26,56,10
  CONTROL "Text Only",IDC_STC3,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_RIGHT,0,42,56,9
  CONTROL "",IDC_EDT1,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,62,8,98,13,WS_EX_CLIENTEDGE
  CONTROL "",IDC_EDT2,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,62,24,98,13,WS_EX_CLIENTEDGE
  CONTROL "",IDC_EDT3,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,62,40,98,13,WS_EX_CLIENTEDGE
END

