#define IDD_DLG1 100
#define IDC_STC1 101
#define IDC_BTN1 102
#define IDC_STC2 103
#define IDC_STC3 104
#define IDC_STC4 105

IDD_DLG1 DIALOGEX 10,10,276,146
CAPTION " About Template Window"
FONT 10,"Segoe UI",400,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER
BEGIN
  CONTROL "IDC_STC",IDC_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_ICON,4,4,42,36
  CONTROL "OK",IDC_BTN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,220,122,42,13
  CONTROL "Text",IDC_STC2,"Static",WS_CHILDWINDOW|WS_VISIBLE,50,6,218,40
  CONTROL "OS_INFO",IDC_STC3,"Static",WS_CHILDWINDOW|WS_VISIBLE,68,48,199,46
  CONTROL "wickedly",IDC_STC4,"Static",WS_CHILDWINDOW|WS_VISIBLE,50,96,218,22
END

