#define IDD_DLG1 1000
#define IDC_BTN1 1001
#define IDC_BTN2 1002
#define IDC_BTN3 1003
#define IDC_BTN4 1004
#define IDC_BTN5 1005
#define IDC_BTN6 1006
#define IDC_BTN7 1007
#define IDC_BTN8 1008
#define IDC_BTN9 1010
#define IDC_BTN10 1011
#define IDC_BTN11 1012
#define IDC_BTN12 1013
#define IDC_BTN13 1014

#include "/masm64/include64/resource.h"

10 ICON DISCARDABLE "icon.ico"

IDD_DLG1 DIALOGEX 10,10,440,192
CAPTION " Modify Selected Text"
FONT 11,"Segoe UI Semibold",600,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER
BEGIN
  CONTROL "GetSelection",IDC_BTN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,266,174,58,12
  CONTROL "Cancel",IDC_BTN2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,392,174,36,11
  CONTROL "SetSelection",IDC_BTN3,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,328,174,58,12
  CONTROL "Unused",IDC_BTN4,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,4,2,36,10
  CONTROL "Unused",IDC_BTN5,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,42,2,36,10
  CONTROL "Unused",IDC_BTN6,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,80,2,36,10
  CONTROL "Unused",IDC_BTN7,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,118,2,36,10
  CONTROL "Unused",IDC_BTN8,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,156,2,36,10
  CONTROL "Unused",IDC_BTN9,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,194,2,36,10
  CONTROL "Unused",IDC_BTN10,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,232,2,36,10
  CONTROL "Unused",IDC_BTN11,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,270,2,36,10
  CONTROL "Unused",IDC_BTN12,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,308,2,36,10
  CONTROL "Unused",IDC_BTN13,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,346,2,36,10
END

