#define IDD_DLG1 100
#define IDC_BTN1 101
#define IDC_IMG1 103
#define IDC_BTN2 102
#define IDC_LST1 104
#define IDC_STC1 105

10 ICON DISCARDABLE "icon.ico"

IDD_DLG1 DIALOGEX 10,10,250,122
CAPTION "IDD_DLG"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER
BEGIN
  CONTROL "About",IDC_BTN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,174,16,66,16
  CONTROL "",IDC_IMG1,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_ICON,188,66,36,32
  CONTROL "Cancel",IDC_BTN2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,174,34,66,16
  CONTROL "",IDC_LST1,"ListBox",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|LBS_NOINTEGRALHEIGHT|LBS_HASSTRINGS|LBS_NOTIFY,12,16,150,94,WS_EX_CLIENTEDGE
  CONTROL "Double Click In List Box To Select",IDC_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE,14,6,148,10
END

