#define IDD_DLG1 100
#define IDC_STC1 101
#define IDC_BTN1 102
#define IDC_STC2 103
#define IDC_STC3 104
#define IDC_STC4 105
#define IDC_BTN6 2
#define IDD_DLG2 1000
#define IDC_EDT1 1001
#define IDC_BTN2 1002
#define IDC_BTN3 1003
#define IDC_BTN4 1005
#define IDC_CHK1 1006
#define IDC_CHK2 1007
#define IDC_IMG1 1008
#define IDD_DLG3 2000
#define IDC_EDT2 1009
#define IDC_BTN5 1010

IDD_DLG1 DIALOGEX 10,10,310,176
CAPTION " About"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER
BEGIN
  CONTROL "IDC_STC",IDC_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_ICON,12,10,42,36
  CONTROL "OK",IDC_BTN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,252,232,42,13
  CONTROL "Text",IDC_STC2,"Static",WS_CHILDWINDOW|WS_VISIBLE,64,14,242,54
  CONTROL "OS_INFO",IDC_STC3,"Static",WS_CHILDWINDOW|WS_VISIBLE,82,76,224,56
  CONTROL "wickedly",IDC_STC4,"Static",WS_CHILDWINDOW|WS_VISIBLE,64,140,242,22
  CONTROL "Cancel",IDC_BTN6,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,178,232,56,13
END

IDD_DLG2 DIALOGEX 10,10,290,66
CAPTION " Find Text"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_THICKFRAME|DS_CENTER
BEGIN
  CONTROL "",IDC_EDT1,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_WANTRETURN|ES_MULTILINE,60,10,218,13,WS_EX_CLIENTEDGE
  CONTROL "Search Up",IDC_BTN2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,60,28,54,14
  CONTROL "Search Dn",IDC_BTN3,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,118,28,54,14
  CONTROL "Use Up Down Keys",IDC_STC3,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_CENTER,84,46,65,9
  CONTROL "Close",IDC_BTN4,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,224,28,54,14
  CONTROL " Whole Word",IDC_CHK1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,162,46,53,9
  CONTROL " Case Sensitive",IDC_CHK2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,218,46,62,9
  CONTROL 0,IDC_IMG1,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_ICON,8,6,48,39
END

IDD_DLG3 DIALOGEX 10,10,306,78
CAPTION " Replace Text"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_THICKFRAME|DS_CENTER
BEGIN
  CONTROL "",IDC_EDT1,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_WANTRETURN|ES_MULTILINE,69,10,224,13,WS_EX_CLIENTEDGE
  CONTROL "",IDC_EDT2,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_WANTRETURN|ES_MULTILINE,69,26,224,13,WS_EX_CLIENTEDGE
  CONTROL "Replace",IDC_BTN5,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,184,44,54,14
  CONTROL "Search Up",IDC_BTN2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,69,44,54,14
  CONTROL "Search Dn",IDC_BTN3,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,126,44,54,14
  CONTROL "Use Up Down Keys",IDC_STC3,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_CENTER,93,62,65,9
  CONTROL "Close",IDC_BTN4,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,240,44,54,14
  CONTROL " Whole Word",IDC_CHK1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,173,62,56,9
  CONTROL " Case Sensitive",IDC_CHK2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,233,62,62,9
  CONTROL 0,IDC_IMG1,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_ICON,10,10,48,39
END

